body{
    background: whitesmoke;
}
.container{
    width: 650px;
    margin:0 auto;
   
    /* border: solid 1px #63717f; */
   
}
header{
    border-radius: 10px;
    outline: solid #ccc 1px;
    background-color: white;
}
h3{
    border-bottom: solid 1px #ccc;
    margin-buttom: 10px;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px
}
table{
    font-family: Arial;
    font-size: 12px;
    align-content: center;
    padding: -20px;
    width: 650px;
}  
th{
    padding: 0px 5px ;
    text-align: left;
    font-size: 10px;
    color: #ccc;
    border-bottom: 1px solid #ccc;
}
td {
    padding: 10px 5px;
    text-align: left;
    font-size: 11px;
    color: black;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.gsearch{
    float: right;
    width: 160px;
    height: 50px;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding: 0px 10px;
}
input[type="search"]{
    border:none;
    border-radius:10px;
    background: whitesmoke;
    padding: 5px 10px;
}

table:after{
    clear: both;
    display: block;
    content: "";
}
input[class="tabel"]{
    background: white;
    width: 80px ;
    padding:5px 1px;
    border: solid 1px #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    
}
input[type="checkbox"]{
    color: #ccc;
    cursor: pointer;
}
.row>label {
    float: left;
    width: 150px;
    min-height: 20px;
    margin-top: 5px
}
input[class="page"]{
    background: white;
    width: 20px;
    
    padding: 2px 0px;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 100;
    font-size: 10px;
}
output[name="cancel"]{
    /* opacity: 0,6; */
    background: rgba(255, 0, 0, 0.26);
    border: none;
    border-radius: 4px;
    color: red;
}
output[name="ready"] {
    /* opacity: 0,6; */
    background: rgba(0, 0, 0, 0.26);
    border: none;
    border-radius: 4px;
    color: black;
}
.button{
    padding: 10px 0px;
}
input:hover{
    background: #63717f;

}
